.bg{
    background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(243, 244, 253,1) 100%);
    position: fixed;
    z-index: 1; 
    top:0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}
.main {
    position: relative;
    z-index: 2;
    margin: 0 4%;
    padding-top: 44px;
}
a,a:visited,a:hover,a:active,a:focus {
    color: #00132C;
}    
header { position: relative;}
header > a {
  display: block;
  width: 44px;
  height: 44px;
 }
header > p {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    line-height: 44px;
    font-size: 16px;
    color: #00132C;
}
   /* 资产卡片 */
div.assets { 
  position: relative; 
  margin-top: 20px; 
  z-index: 2; 
  display: block;
}
div.assets > div.a-content { 
  position: relative;
  z-index: 3;
  width: 100%; 
  background:linear-gradient(315deg,rgba(168,125,27,1) 0%,rgba(245,199,97,1) 100%);
  opacity:1;
  border-radius:10px; 
  padding: 20px 15px; 
}
div.assets > div.shadow { 
  position: absolute; 
  z-index: 2; width: 94%; 
  margin-left: 3%; 
  display: block; 
  top:0; 
  bottom: 0; 
  border-radius:10px;
  opacity: 0.8; 
  -moz-box-shadow:0px 4px 10px #C39733; 
  -webkit-box-shadow:0px 4px 10px #C39733; 
  box-shadow:0px 4px 10px #C39733;  
}
h1 { 
  font-size: 40px;
}
h3 { 
  font-size: 16px; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
h1,h3, p.title   { 
  color: #fff; 
}
.black {
  color: #00132C;
}

div.total:after {
   content: ""; 
   position: absolute; 
   left: 15px; 
   right: 15px; 
   height:1px; 
   background-color: #fff; 
   opacity: 0.2; 
   margin-top: 10px;
  }
div.assets > div.a-content > ul { 
  margin-top: 20px;
  font-size: 0; 
}
div.assets > div.a-content > ul > li { 
  display: inline-block;
  width: 33.33333%; 
}
div.assets > div.a-content p.title { 
  font-size: 12px; 
  opacity: 0.8; 
  color:#fff;
}
div.assets > div.a-content > div.name { 
  margin-bottom: 10px; 
}
div.assets > div.a-content > div.name > span.line { 
  border: 1px solid #FFF; 
  font-size: 12px; 
  position: absolute;
  right: 15px; 
  top: 20px;  
  border-radius: 4px; 
  padding: 3px 6px; 
  color: #FFF; 
}
ul.type {
  position: relative;
  font-size: 0;
  }
h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #00132C;
  line-height: 28px;
} 
ul.type > li {
  font-size: 12px;
  color: #00132C;
  display: inline-block;
  padding: 5px 10px;
  background-color:#E5E7E9;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 2px;
}
div.a-flow  {
  position: relative;
}
div.a-flow > ul{
  margin-top: 10px;
}
div.a-flow > ul > li {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 10px 0;
}
div.a-flow > ul > li:before { 
  content: "";
  position: absolute; 
  left: 0;
  right: 0;
  background-color:#00132C;
  opacity: 0.05;
  height: 1px;
  top: 0;
}
div.a-flow > ul > li:last-child:after { 
  content: "";
  position: absolute; 
  left: 0;
  right: 0;
  background-color:#00132C;
  opacity: 0.05;
  height: 1px;
  bottom: 0;
}
p.money {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0; 
  top: 10px;
}
p.date {
  margin-top: 5px; 
  font-size: 12px; 
  color: #99A1AB;
}
p.red {
  color: #FF5F5F;
}
